<div>
  <h3>Type a search keyword (from newsapi.org):</h3>
  <input type="text" placeholder="Type something" (input)="getContent($event)">

  <div id="results" [ngStyle] ="results && {'display': 'block'}">
      <ul class="list-group">    
          <li class="list-group-item">
              <app-list-component 
              (storyEvent) ="showStory($event)"
              *ngFor = "let result of results" 
              [element]= "result">
            </app-list-component>
          </li>
        </ul>
  </div>

  <div id="storyItem" *ngIf="story">
    <p>Source: {{story.source.name || json}} </p>
    <p>Published: {{story.publishedAt}} </p>
    <p>Author: {{story.author}} </p>
    <p>Description: {{story.description}} </p>
    <hr>
    <br>
    <p>Content: {{story.content}} </p>
  </div>
</div>